# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Template de referencia .env
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"

# se genera con https://generate-secret.vercel.app/32
# se genera con los providers de logeo de apps auth.js
# AUTH_SECRET=2e6f461ed5908f76074ea86c0b69a899
# AUTH_GITHUB_ID= //Fernando explica como generarlo en el siguiente video
# AUTH_GITHUB_SECRET= //Fernando explica como generarlo en el siguiente 